@font-face {
    font-family: HelveticaNeue;
    src: url(fonts/HelveticaNeue.ttf)
}

@font-face {
    font-family: HelveticaNeue-Bold;
    src: url(fonts/HelveticaNeue-Bold.ttf)
}

@font-face {
    font-family: HelveticaNeue-Medium;
    src: url(fonts/HelveticaNeue-Medium.ttf)
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    font-size: 16px;
    min-width: 320px;
    overflow-x: hidden;
    opacity: 1
}

a {
    text-decoration: none
}

li {
    list-style-type: none
}

h1,
h2,
h3,
li,
p,
ul {
    margin: 0;
    padding: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

img {
    vertical-align: middle;
    max-width: 100%
}

button,
input {
    border: none;
    outline: 0
}

.wrapper {
    max-width: 1280px;
    margin: auto
}

.header {
    position: relative;
    padding: 20px 50px
}

.header .select-button {
    max-width: 150px;
    color: #999;
    font: 17px HelveticaNeue, sans-serif;
    background: url(img/3.png) no-repeat center right;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer
}

.header .select-button2 {
    display: none
}

.header .select {
    display: none;
    position: absolute;
    top: 60px;
    left: 30px;
    max-width: 345px;
    width: 100%;
    padding: 15px 30px;
    background: #000;
    z-index: 1
}

.header .active-select {
    display: block
}

.header .select-item {
    padding: 15px 0;
    border-bottom: 2px solid #262626;
    background: #000;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.header .select-item:last-child {
    border-bottom: none
}

.header .select-item:hover {
    background: #000;
    color: #30bfb3
}

.header .active-item {
    background: url(img/4.png) no-repeat center right
}

.tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 50px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #e6e6e6;
    font: 17px HelveticaNeue, sans-serif;
    color: #999;
    cursor: pointer
}

.tags ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.tags .tag-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    margin: 5px 40px 5px 5px;
    padding: 0 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    font: 11px HelveticaNeue-Medium, sans-serif;
    text-transform: uppercase;
    color: #999
}

.tags .tag-item .close {
    position: absolute;
    top: 0;
    right: -33px;
    width: 30px;
    height: 30px;
    background: #fff url(img/2.png) no-repeat center center
}
.clear:hover{
    color: #30bfb3;
}
.cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 50px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #f2f2f2
}

.cards .card-item {
    position: relative;
    max-width: 30%;
    width: 100%;
    height: 590px;
    margin: 20px 0;
    padding-top: 25px;
    background: #fff
}

.cards .card-item .category {
    padding: 0 20px;
    font: 15px HelveticaNeue-Medium, sans-serif;
    color: #30bfb3
}

.cards .card-item .caption {
    margin-top: 10px;
    padding: 0 20px;
    font: 21px HelveticaNeue-Bold, sans-serif
}

.cards .card-item .img-wrap {
    position: absolute;
    bottom: 0
}

.cards .card-item .address,
.cards .card-item .date {
    padding: 0 20px;
    font: 15px/22px HelveticaNeue-Medium, sans-serif;
    color: #999
}

.cards .card-item .address {
    padding-left: 35px;
    background: url(img/1.png) no-repeat left 20px top 5px;
    -webkit-background-size: 10px 15px;
    background-size: 10px 15px
}

.cards .card-item .date {
    margin-bottom: 30px
}

@media only screen and (max-width:768px) {
    .header .select-button1 {
        display: none
    }
    .header .select-button2 {
        display: block
    }
    .cards .card-item {
        max-width: 45%
    }
}

@media only screen and (max-width:480px) {
    .header .select-button {
        margin: 0 auto
    }
    .header .select {
        left: 0
    }
    .cards {
        padding: 0 20px
    }
    .cards .card-item {
        max-width: 100%
    }
}